body {
    margin-bottom: 50px;
    background: #36393f;
}
.a-big-margin{
margin-right: 6px;
margin-left: 6px;
}

.a-big-right-margin{
margin-left: 6px;
}

.a-task-pick {
    color: #d7d5cf;
    text-decoration: none;
    font-size: 25px;
}


.span-task-pick {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #202225;
}

.navbar-dark {
    background-color: #202225;
}

.div-text {
    color: #d7d5cf;
    text-decoration: none;
}

.div-accent {
    color: #d7d5cf;
    text-decoration: none;
    background-color: #2f3136;
}

.a-test-preview:any-link {
    color: #202225;
    text-decoration: none;
    font-size: 30px;
}


.div-test-preview {
    width: 200px;
    height: 90px;
    background-color: #ffa900;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-ds {
    border: 1px solid #d7d5cf;
    text-decoration: none;
    padding:10px;
}

#block_bottom1 {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 50px;
    background: #2f3136ff;
    color: #ffffff;
    width: 100%;
}

#newTestForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#h1TestCreator {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
}

#saveButton {
    margin-left: auto;
    margin-right: auto;
}

#a-task-pick {
    color: #1d45b6;
    text-decoration: none;
    font-size: 25px;
}