body {
    margin-bottom: 50px;
    background: #36393f;
}

.a-task-pick {
    color: #d7d5cf;
    text-decoration: none;
    font-size: 25px;
}

.span-task-pick {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #202225;
}

.navbar-dark {
    background-color: rgb(32, 34, 37);
}

.div-text {
    color: #d7d5cf;
    text-decoration: none;

}

.div-accent {
    color: #d7d5cf;
    text-decoration: none;
    background-color: #2f3136;
}

#block_bottom1 {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 50px;
    background: #2F3136FF;
    color: #fff;
    width: 100%;
}

#newTestForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#h1TestCreator {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
}

#saveButton {
    margin-left: auto;
    margin-right: auto;
}

#a-task-pick {
    color: #1d45b6;
    text-decoration: none;
    font-size: 25px;
}