{% extends "base.html" %}

{% block content %}
    <br><br>
    {% for msg in get_flashed_messages() %}
        <script>
        alert("{{ msg }}");
        </script>
    {% endfor %}
    <form id="newTestForm" action="" method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div class="input-group mb-3">
                {{ field(class="form-control", placeholder=form.get_placeholder(field)) }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock %}